<html>
    <head>
        <title>TM blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The Master Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>33 коммита
33 коммита 
в каждом изменилась лишь одна строка
33 коммита
с мастер веткой слиты
говнокод тупого мудака</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>ставил докер через докер, вижу докер - в докер в докер. Сунул докер в докер в докер..
и покатил на прод</p>
        </div>
    </body>
</html>
